{% extends 'base.html' %}
{% block title %}
    HOME
{% endblock title %}
{% block body %}
      <!--Form To Take Input-->
      <div class="container my-3">
        <div class="card">
            <form action="/" method="POST">
                <div class="card-header">
                  <h4>Add TODOs</h4>
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" name="title" class="form-control" id="title" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="desc" class="form-label">Description</label>
                        <input type="text" name="desc" class="form-control" id="desc">
                    </div>
                    <button type="submit" class="btn btn-dark">Submit</button>
                </div>
            </form>
        </div>
      </div>

      <!--Table-->
    <div class="table container my-5">

    <h4>Your TODOs</h4>

    {% if allTodo|length == 0 %}

        <div class="alert alert-dark" role="alert">
            No Task Found. Add Your First TODO now!!
        </div>
        
    {% else %}

        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">sno</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Date</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
                {% for todo in allTodo %}
                <tr>
                    <th scope="row">{{loop.index}}</th>
                    <td>{{todo.title}}</td>
                    <td>{{todo.desc}}</td>
                    <td>on {{todo.date_created}}</td>
                    <th>
                        <a href="/delete/{{todo.sno}}" type="button" class="btn btn-outline-danger btn-sm mx-1">Delete</a>
                        <a href="/update/{{todo.sno}}" type="button" class="btn btn-outline-success btn-sm mx-1">Update</a>
                    </th>               
                </tr>
                {% endfor %}
            </tbody>
        </table>

    {% endif %}

    </div>
    
{% endblock body %}
